/* 調整 h3 標題的間距 */
h3 {
    margin-bottom: 3px;
    font-size: 22px;
    font-weight: bold;
  }
  
  /* 履歷分隔線調整 */
  hr {
    border: 1px solid rgb(97, 95, 95);
    margin: 5px 0;
  }
  

  p {
    color: #171717;
    margin: 3px;
  }
  